<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="BankaDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.56.128;initial catalog=BankaDB;user id=sa;password=12345Rd*;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="BankaDBEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.56.128;initial catalog=BankaDB;user id=sa;password=12345Rd*;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=192.168.56.128;initial catalog=BankaDB;user id=sa;password=12345Rd*;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.168.56.128;initial catalog=BankaDB;user id=sa;password=12345Rd*;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="BankProject.Properties.Settings.BankaDBConnectionString"
        connectionString="Data Source=192.168.56.140;Initial Catalog=BankaDB;User ID=dert;Password=06319BarçaLeon*ÖşWqt"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>